@{
    ViewBag.Title = "Request";
}
@model SupplyMe.Models.OrderVM

<div class="container">
    <div class="row">
        <div class="request-title col-lg-12">
            <div class="col-md-10">
                WELCOME BACK, <strong>@User.Identity.Name</strong>
            </div>
            <div class="col-md-2">
                <button type="button" onclick="window.location.href='/logoff'" class="pull-right submit-btn">LOG OUT</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text col-lg-10">
            Please fill in the required fields in order to process your supply request and deliver to you as soon as possible
        </div>
        <div class="clear-fix"></div>
        <hr class="hr-line" />
    </div>
    <div class="row">
        <div class="request-title sub-title col-lg-12">
            <strong>SUPPLY REQUEST</strong>
        </div>
    </div>
    @using (Html.BeginForm("SupplyRequest", "Home", FormMethod.Post, new { @class = "request-form", id = "request-form" }))
    {
@*Html.AntiForgeryToken()*@
        <div class="validation-summary">
            @Html.ValidationSummary()
        </div>
        <div class="row add-item">
            <div class="col-lg-12">
                <button type="button" class="pull-left" onclick="addItem()"><i class="fa fa-plus"></i></button>
                <div class="pull-left">Add Another Item</div>
            </div>
        </div>
        
        <div class="row items-container">
            @if (Model.OrderDetails.Count == 0)
            {
                @Html.Partial("_ItemRowPartial", new SupplyMe.Models.OrderDetailsVM())
            }
            else
            {
                foreach (var item in Model.OrderDetails)
                {
                @Html.Partial("_ItemRowPartial", item)
                }
            }
            <div class="col-lg-12">
                <button type="submit" class="pull-right submit-btn">SUBMIT</button>
            </div>
        </div>
    }
</div>
@Html.Partial("_LoadingPartialView")

<script>

    $(document).ready(function () {
        //$("select").bselect();
        $('select').select2();
        //Initializebselect();
        ReloadFormItems();
        $.validator.addMethod("itemRequired", function (value, element) {
            return (value != "0");
        }, function (params, element) {
            return 'This field is required.'
        });
        validateForm();
    });

    function addItem() {
        $.ajax({
            type: "POST",
            url: "/Home/AddItemPartialView",
            success: function (result) {
                $(".items-container").prepend(result);
                $(".order-detail-item:nth-child(1)").select2();
                $(".order-detail-unit:nth-child(1)").select2();
                ReloadFormItems();
            }
        });
    }

    function selectItem(e) {
        var selected = $(e).val();
        $(e).parent().children("input").val(selected);
    }

    function getItems(e) {
        var selected = $(e).val();
        $(e).parent().children("input").val(selected);
        var parent = $(e).parent().parent();
        if (selected != 0) {
            $.ajax({
                url: "/Home/GetCategoryId",
                type: "POST",
                data: { catId: selected },
                beforeSend: function () {
                    $(".loading").removeClass("hidden");
                },
                success: function (data) {
                    $(parent).children(".item-parent").children(".order-detail-item").html("");
                    $(parent).children(".item-parent").children(".order-detail-item").append('<option value="" disabled selected>SELECT ITEM</option>');
                    $(parent).children(".item-parent").children(".order-detail-item").append(data);
                    $(parent).children(".item-parent").children(".order-detail-item").select2();
                    ReloadFormItems();
                },
                complete: function () {
                    $(".loading").addClass("hidden");
                }
            });
        }
    }

    function Initializebselect() {
        $("select").bselect("destroy");
        $("select").bselect();
    }

    function removeItem(element) {
        if ($(".order-detail").length > 1) {
            $(element).parent().parent().fadeOut("slow", function () {
                $(element).parent().parent().remove();
                ReloadFormItems();
            });
        } else {
            alert("You cannot remove the last item");
        }
    }

    function ReloadFormItems() {
        $(".items-container .item-parent .order-detail-item").each(function (order) {
            $(this).attr("name", "OrderDetails[" + order + "].ItemId");
        });
        $(".items-container .order-detail-msg").each(function (order) {
            $(this).attr("name", "OrderDetails[" + order + "].OrderMessage");
        });
        $(".items-container .item-id").each(function (order) {
            $(this).attr("name", "ItemIdHidden[" + order + "]");
        });
        $(".items-container .cat-id").each(function (order) {
            $(this).attr("name", "CatIdHidden[" + order + "]");
        });

        $('#request-form').data('validator', null);
        $("#request-form").unbind('validate');
        $("label.error").remove();
        validateForm();
    }

    function validateForm() {
        $("#request-form").validate({
            ignore: [],
            rules: (function () {
                results = {}
                for (var i = 0; i < $(".order-detail").length; i++) {
                    results["CatIdHidden[" + i + "]"] = { itemRequired: true }
                    results["ItemIdHidden[" + i + "]"] = { itemRequired: true }
                    results["OrderDetails[" + i + "].OrderMessage"] = { required: true }
                }
                return results;
            })(),
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            }
        });
    }

</script>
